#banner{

  background-image: url('https://storage.googleapis.com/msgsndr/RKjSVFlud4tomMYa0uQc/media/64faa53163e5715720735578.jpeg');
  background-color: #82c2ba;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-position: center;
}
